.foot_bj{ height: 235px; background: #31a7ea;overflow: hidden; width: 100%;}
.foot_nr{ width: 1200px; margin: 0 auto; padding-top: 15px; color:#FFFFFF; line-height: 30px; text-align: center;}
.foot_nr a{ color: #FFFFFF; padding: 0 15px;}
