

@import url(top.css);
@import url(reset.css);
@import url(foot.css);
body{width: 100%;background: url(http://rsj.gzdaozhen.gov.cn/images/bg_02.jpg) center top #fff no-repeat;}
.dqwz{ height: 40px; line-height: 40px;background:url(dqwz.png) left center no-repeat; padding-left:22px;}
.content-main{width: 1180px;height: auto;background:#fff;overflow: hidden;padding: 10px;margin: 0 auto;padding-top: 0px;}
/*左边列表*/
.zb_lb{height: auto; overflow: hidden; width: 325px;}
.zb_lb h2{ height: 50px; line-height: 50px; background: #34acde; font-size: 15px; color: #FFFFFF; text-align: center; font-weight: normal;}

.list-Nav-left{width: 325px;float: left;padding:3px;overflow: hidden;}
.Left_Nav-top{height: 40px;width: 280px;line-height: 40px;color: #fff;background: #CE1A25;text-align: center;margin: 0px;font-size:16px;}		
.Left_Nav{ width:325px; height:auto;background:#fff; position:relative;border-radius:5px;}
.Left_Nav li{ z-index:2; position:relative; font-size:16px;width:325px;}
.Left_Nav li a{ color:#666;height:40px; line-height:40px; border-bottom:1px solid #ccc; display:block; padding-left:15px;font-size:16px;text-align:left; text-decoration:none;}
.Left_Nav li:hover{width:320px;height:40px;background:#eee;border-left:5px solid #34acde;}
.Left_Nav li:hover a{ color:#34acde !important; text-decoration:none;font-size:16px;}
.Left_Nav li.on{width:320px;height:40px;background:#eee;border-left:5px solid #34acde;}
.Left_Nav li.on a{ color:#34acde !important; text-decoration:none;font-size:16px;}
.Left_Nav .hover{width:320px; height:0px; position:absolute; left:0px;background:#eee; border-left:5px solid #34acde; z-index:1;}

/*右边内容*/
.yb_nr{ overflow: hidden;width: 845px; line-height: 24px; font-size: 13px;}

/*分页*/
.page{ margin:20px auto; overflow:hidden; width: 700px; }
.page ul li{ float: left;}
.page a{padding: 5px 15px;background:#e9e9e9;display:block;float:left;border:1px solid #cccccc;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;color:#5d5d5d;margin:5px;font-size: 13px;}
.page a:hover{ background:#bfd8ff; border:1px solid #a1bce5; }
.page a.onhover{ background:#bfd8ff; border:1px solid #a1bce5;}
.page li .bai12_22h{display:block;line-height: 46px;}
.page li .bai12_22h input[type="text"] {border:1px solid #0099CC;padding: 5px 10px;border-radius: 3px;}
.page li .bai12_22h input[type="submit"] {background: #0099CC;border: 0;padding: 6px 10px;border-radius: 3px;color:#ffffff;}

.NewsList { min-height:600px; border:1px solid #ddd;}
.NewsList h1 { height:35px; line-height:30px; border-bottom:#CCC solid 1px; font-size: 16px; font-weight:500; }
.NewsList h1 span { width:auto; padding:0 10px; height:35px; line-height:30px; float:left; border-bottom:#0099cc solid 1px; color:#0099cc}
.NewsList>ul{ padding:5px 10px 20px 30px;}
.NewsList>ul li { text-align:left; font-size: 14px; height: 30px; line-height: 30px; list-style:circle;transition: all 0.3s ease-in 0s;-moz-transition: all 0.3s ease-in 0s;-webkit-transition: all 0.3s ease-in 0s;}
.NewsList>ul li a {font-size: 14px; margin: 8px 0;}
.NewsList>ul li:hover{margin-left:5px;transition: all 0.3s ease-in 0s;-moz-transition: all 0.3s ease-in 0s;-webkit-transition: all 0.3s ease-in 0s;}
.NewsList>ul li span{ float:right; width:80px; *position:relative;*top:-30px;display:inline-table; color:#999;}
.NewsList>ul .on {background: #b3e7fa;}


/*图片列表*/
.ImgList {min-height: 550px;border:1px solid #ddd;height:auto;overflow:hidden;}
.ImgList h1 { height:35px; line-height:30px; border-bottom:#CCC solid 1px; font-size: 16px; font-weight:500; }
.ImgList h1 span { width:auto; padding:0 10px; height:35px; line-height:30px; float:left; border-bottom:#0099cc solid 1px; color:#0099cc}
.ImgList ul{margin-left: 15px;height: auto;overflow: hidden;margin-bottom: 15px;}
.ImgList li{margin-right: 15px;width: 192px;height:150px;float:left;margin-top:15px;}
.ImgList .list_pic { width:100%; height:150px; display: block; position: relative; }
.ImgList .list_pic img { width:100%; height:150px; }
.ImgList .list_pic p { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6); bottom: 0; display: block; font-size: 14px; height: 30px; left: 0; line-height: 30px; position: absolute; text-align: center; width: 100%; z-index: 990; }
.ImgList .list_pic p a { color: #fff; font-size: 14px;  overflow: hidden; text-decoration: none; text-align: center;}

/*直接显示内容*/
.view{ line-height: 30px; padding: 15px; font-size: 14px;height: auto;overflow: hidden;}
.view p{ background: none; height: auto; line-height: 30px;}


/*领导之窗*/
/*领导分工*/
.ldzc{padding:10px;}
.ldzc .ldfg_box{overflow:hidden;}
.ldzc .ldfg_box .ldzp{ width:129px; height:160px; border:1px solid #ddd;}
.ldzc .ldfg_box .ldfg{width: 675px;float:right;height:auto;overflow:hidden;}
.ldzc .ldfg_box .title{ height:33px; line-height:30px;  color:#0099cc; border-bottom:1px solid #0099cc;  border-top:1px solid #0099cc;  border-left:1px solid #0099cc;  border-right:1px solid #0099cc; border-top-left-radius:5px; -moz-border-radius-topleft:5px; -webkit-border-top-left-radius:5px; border-top-right-radius:5px; -moz-border-radius-topright:5px; -webkit-border-top-right-radius:5px;}
.ldzc .ldfg_box .title h2.on{border-bottom:3px solid #0099cc; color:#0099cc; display:block; float:left; margin-left:10px; padding:0 15px;}
.ldzc .ldfg_box .ldjbxx{ height:126px; overflow:hidden; border:1px solid #0099cc; border-top:none;}
.ldzc .ldfg_box .ldjbxx dl{ height:auto; overflow:hidden; margin-left:20px;}
.ldzc .ldfg_box .ldjbxx dl dt{line-height:30px; height:30px; color:#0099cc; font-size:14px;}
.ldzc .ldfg_box .ldjbxx dl dd{height:60px;overflow:auto;margin-right: 0px;}
.ldzc .ldfg_box .ldjbxx p{ line-height:26px; color:#3c3c3c; font-size:14px;}
/*领导简介*/
.ldzc .ldjj_box{ margin-top:10px; overflow:hidden;}
.ldzc .ldjj_box .title{ height:33px; line-height:30px;  color:#0099cc; border-bottom:1px solid #0099cc;  border-top:1px solid #0099cc;  border-left:1px solid #0099cc;  border-right:1px solid #0099cc; border-top-left-radius:5px; -moz-border-radius-topleft:5px; -webkit-border-top-left-radius:5px; border-top-right-radius:5px; -moz-border-radius-topright:5px; -webkit-border-top-right-radius:5px;}
.ldzc .ldjj_box .title h2.on{border-bottom:3px solid #0099cc; color:#0099cc; display:block; float:left; margin-left:10px; padding:0 15px;}
.ldzc .ldjj_box .ldjj{padding-top:10px; height:342px; overflow:auto; border:1px solid #0099cc; border-top:none;}
.ldzc .ldjj_box .ldjj p{ padding:0 20px; font-size:14px; line-height:26px;}